//variables
$colorTitulo: rgb(93, 93, 98);
$colorSubtitulo: rgb(93, 93, 98);
$colorDescripcion: rgb(141, 150, 156);
$colorBotonSeleccionado: rgb(0, 255, 234);

//mixins

@mixin titulos($fs:2rem,) {
    font-size: $fs;
    font-weight: bold;
    font-family: 'Assistant', sans-serif;
    color: $colorTitulo
}

@mixin subtitulos {
    font-size: 1.2rem;
    font-weight: regular;
    font-family: 'Assistant', sans-serif;
    color: $colorSubtitulo
}

@mixin descripcion {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: $colorDescripcion
}

@mixin imagenes {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin botones {
    border: 2px solid;
    border-color: rgb(153, 153, 153) ;
    background: none;
    color: rgb(90, 90, 90);
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    margin: 0.5rem;
    height: 5rem;
    width: 5rem;
}