.post{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 30vh;
    margin: 1rem;
    padding: 0.5rem;

    .imagen{
        width: 30%;
        height: 100%;

        img{
            @include imagenes     
        }
    }
    .contenido{
        display: flex;
        flex-flow: column ;
        justify-content: space-between;
        width: 70%;
        height: 100%;
        padding-left: 2rem;

        a{
            @include titulos;
            margin-bottom: 0.5rem;
        }

        p{
            @include descripcion;
        }

        .autorVotos{
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            width: 100%;
            height: 30%;

            .autor{
                display: flex;
                flex-flow: row;
                align-items: center;
                h2{
                    @include subtitulos;
                    margin-right: 1rem;
                }

                img{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 2rem                ;
                    -webkit-border-radius: 2rem                ;
                    -moz-border-radius: 2rem                ;
                    -ms-border-radius: 2rem                ;
                    -o-border-radius: 2rem                ;
}
            }
        }
    }
}