.post {
  margin-bottom: 3rem;
  .imagen {
    img {
      @include imagenes;
    }
  }
  .contenido {
    a {
      @include titulos;
      margin-bottom: 0.5rem;
    }

    p {
      @include descripcion;
    }

    .autorVotos {
        padding: 0;
        margin-left: 0rem;
      .autor {
        display: flex;
        align-items: center;
        h2 {
          @include subtitulos;
          margin-right: 1rem;
        }

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 1.5rem;
          -webkit-border-radius: 1.5rem;
          -moz-border-radius: 1.5rem;
          -ms-border-radius: 1.5rem;
          -o-border-radius: 1.5rem;
}
      }
    }
    .votos{
        display: flex;
        // width: 15%;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        
        p{
            @include subtitulos;
            font-weight: bold;
            margin-top: 1em;
            color: #F57B30;
            margin: 0.5em;
            font-size: 1.5em;
        }
        i{
            font-size: 1.2em;
            color: rgb(173, 173, 173);
            &:hover{
                cursor: pointer;
            }
        }
    }
  }
}
